<?xml version="1.0" encoding="UTF-8" ?>

        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.mapper.UserMapper">

<!--&lt;!&ndash;查询租客信息&ndash;&gt;-->
<!--<select id="seUser" resultType="Tbluser">-->
        <!--select * from tbluser where uid =#{uid}-->
    <!--</select>-->

<!--&lt;!&ndash;修改用户信息&ndash;&gt;-->
<!--<update id="upUser">-->
    <!--update tbluser set Mailboxes=#{Mailboxes},phone=#{phone},uName=#{uName},sName=#{sName} values uid=#{uid}-->
<!--</update>-->

    <!--<insert id="addUser">-->
        <!--insert into tbluser(Mailboxes,phone,uName,sName,pwd)values (#{Mailboxes},#{phone},#{uName},#{sName},#{pwd})-->
    <!--</insert>-->

    <select id="userlogin" resultType="Tbluser">
        select * from tbluser where acc=#{acc} and pwd=#{pwd}
    </select>

</mapper>